/************/
/*  GLOBAL  */
/************/

/* NON-HEADER */
*{padding:0; margin:0;}
img, div, input { behavior: url("css/iepngfix.htc"); }
body {font-size:62.5%; background-color:rgb(255,255,255); font-family: verdana, arial, sans-serif;} 
.page-container {width:100%; margin:0px auto; margin-top:0px; margin-bottom:0px; }
.main {clear:both; width:1000px; margin:0 auto; padding-bottom:5px;  border-top:0px solid #8d4100; border-bottom:0px solid #8d4100; background:url(../Images/Left_Nav_Border.jpg) 200px top repeat-y;}
.main-navigation {display:inline; float:left; width:200px; background:url(../Images/nevigationBG.jpg) top right no-repeat; }
.main-content {display:inline; float:right; width:790px; margin:0 0 0 0%; padding: 0 0px 0 10px; font-family: verdana, arial, sans-serif; font-size:11px;}
.footer{clear: both; width: 100%; margin: 0 auto;font-size: 12px;background: #c2da09 url('../Images/FooterMainMiddle.jpg') top left repeat-x;font-family: verdana, arial, sans-serif;font-size: 11px;letter-spacing: 1px;}

/* HEADER */
.header {width:100%; font-family:Verdana, Arial,sans-serif;}
.header-top {width:inherit; height:90px; background:#000;}
.header-middle {width:inherit; height:69px; background:#000; overflow:visible !important ; overflow:hidden ;}
.header-bottom{ width: inherit; height: 205px; background:#fff url(../Images/Banner_bg.jpg) left top repeat-x;}
.header-bottom-in{ width:1000px; margin:0 auto;}

/********************/
/*  HEADER SECTION  */
/********************/
.sitelogo {height:90px; top:0px; z-index:1; float:left;}
a.sitelogo img{ border:0px;}
.header_baby{width:93px; height:91px; margin:0 0 0 120px; background:url(../Images/BabyTop.jpg) top left no-repeat; float:left;}
.sitename {width:216px; height:67px; z-index:1; margin:15px 0 0 0;  float:left;}
.sitename h1 {margin:0px 0 0 0; }
.sitename h2 {margin:-5px 0 0 0; color:#ffb700; }
.sitename a {text-decoration:none; color:#8d4100;}
.sitename a:hover {text-decoration:none; color:#8d4100;}

.login_btn_bx{clear:both; width:270px; margin:0 auto; padding-top:15px;}
.login_btn_bx a{border:0px;}
.login_btn_bx a img{border:0px; width:117px; height:34px; }


.pencil_bg{width:100%;}
.header-middle .hm_top{display:block; background:url(../Images/Img_Pencils.jpg) repeat-x; background-color:#000000; line-height:39px; height:39px;}
.header-middle .hm_mn_top{height:30px; background-color:#000000; width:100%; margin:0 auto;}
.header-middle .hm_L_tp{float:right; height:30px;margin-right:10px;}
.header-middle .hm_L_tp1{float:left; height:30px; width:30%; background:#fd7400 url(../Images/Lft_T_menu.jpg) no-repeat right top;}
.hm_L_tp ul{ padding:0px; margin:0px 0 0 5px;}
.hm_L_tp ul li{display:inline; list-style:none; padding:0px 0 0 0px; }
.hm_L_tp ul li a{ display:block; float:left; padding:7px 5px 7px 5px; color:#000000; text-decoration:none; font-size:13px; margin-top:0px; margin-right:5px; border-right:1px solid #000000; font-weight:bold;}
.nobdr{ border:0px !important; border-right:none;}
.hm_L_tp ul li a:hover{ text-decoration:none; color:#000000; background-color:#ffb700; font-weight:bold;}

.header-middle .hm_R_tp1{float:right; height:30px; width:70%; background:#92a500 url(../Images/Rgt_T_menu.jpg) no-repeat left top;}
.header-middle .hm_R_tp{float:left; height:30px;}
.hm_R_tp ul{ padding:0px; margin:0px; margin-left:10px;}
.hm_R_tp ul li{display:inline; list-style:none; padding:0px 0px 0 0px;}
.hm_R_tp ul li a{ display:block; float:left; padding:7px 10px 7px 10px; color:#fff; font-weight:bold; text-decoration:none; font-size:13px; margin:0px 0px ; border-right:1px solid #000000;}
.hm_R_tp ul li a:hover{ text-decoration:none; background-color:#ffb700; color:#000000; font-weight:bold;}


.nav1 {width:420px; float:right; z-index:3; margin:5px 0 0 0px;}
.nav1 ul {float:right; padding:0 15px 0 0; font-weight:bold;} 
.nav1 li {display:inline; list-style:none; padding-right:0px;}
.nav1 li a {display:block; float:left; padding:2px 5px; color:#fff; text-decoration:none; font-size:11px; margin-top:2px;}
.nav1 a:hover {text-decoration:none; color:rgb(125,125,125);}
.nav1 li a img{ float:left; border:0px; margin-right:5px; margin-top:-2px;}

/********************/
/*  COMMON CLASSES  */
/********************/
.main img {clear:both;}
.main img.center {clear:both; float:none; display:block; margin:0 auto; padding:1px; border:1px solid rgb(150,150,150);}
.main img.right {clear:both; float:right; margin:3px 0 7px 10px; padding:1px; border:1px solid rgb(150,150,150);}

.main a {color:#1b60a2; text-decoration:none;}
.main-content h1 a {color:#92a500; font-weight:normal; text-decoration:none;}
.main a:hover {color:#69a500; text-decoration:underline;}


/* MAIN CONTENT */
.column1-unit {width:inherit; margin-top:5px; margin-bottom:5px ;}
.column2-unit-left {float:left; width:605px;}
.column2-unit-left1 {border:1px solid #ccc; padding:0px 5px 0 5px;}
.column2-unit-right {float:right; width:180px; border-bottom:px solid #ccc; border-left:0px solid #ccc; border-right:0px solid #ccc;}
.btnmain{height:35px; border-right:0px solid #ccc; border-left:0px solid #ccc; padding:0 0 0px 10px; margin:0px auto 0px auto; border-top:0px solid #ccc;}
.btnconte{ padding:0px; text-align:center;}
.btnconte img{ float:left; margin:2px 0 0 5px;}
.btnlbl{float:left; padding-top:8px; font-size:12px; font-weight:normal; padding-left:5px; color:#1b60a2;}
.btnlbl a{ color:#0066cc;}
.btnlbl a:hover{color:#105393;}
.subtitle {font-size:12px; text-align:justify;}
span.ssptt{font-weight:bold; font-size:13px; color:#000000;}
/********************/
/*  FOOTER SECTION  */
/********************/

.footer_Content{width:952px; height:101px; margin:0 auto;}
.footer_Content_in{ height:40px; width:912px; margin:35px auto 0  auto;}
.ftr_M_cont{padding-top:5px; margin-bottom:5px;}

.ftr_cont_left{float:left; background:url(../Images/Footer_in_left.png) left top no-repeat; width:6px; height:40px;}
.ftr_cont_center{float:left; background:url(../Images/Footer_in_Middle.jpg) left top repeat-x; height:40px; width:900px;}
.ftr_cont_right{float:left; background:url(../Images/Footer_in_Right.png) left top no-repeat; width:6px; height:40px;}

.footer-contentarea{width:950px; margin:0 auto;}
.linetrip{height:8px; background-color:#95a800;}
.footer_cenbg{background: #efff6d url(../Images/SubFooter.jpg) left top repeat-x; width:98%; margin:30px auto 0 auto; }
.footer p {line-height:1.3em; text-align:center; color:#8d4100; font-weight:bold; font-size:110%; margin:5px; font-size:10px; padding:0 5px;}
.credits {font-weight:normal; text-align:center; font-size:10px; margin-top:7px;}
.footer a {text-decoration:none; color:#000;}
.footer a:hover {text-decoration:underline; color:#000;}

.leftf{ float:left; width:16%; color:#000; font-weight:bold; }
.rightf{ float:left; width:84%; color:#8d4100; font-weight:bold;}
.rightf a{color:#000; font-weight:normal; padding:0 3px; }
.rightf a:hover{color:#fff; font-weight:normal; padding:0 3px; text-decoration:none;}


.clear{ clear:both;}
/******************/
/*  CLEAR FLOATS  */
/******************/
.page-container:after, .header:after, .header-breadcrumbs:after, .main:after, .main-navigation:after, .main-content:after {content:"."; display:block; height:0; clear:both; visibility:hidden;}
.column1-unit:after, .column2-unit-left:after, .column2-unit-right:after, .column3-unit-left:after, .column3-unit-middle:after, .column3-unit-right:after {content:"."; display:block; height:0; clear:both; visibility:hidden;}
.footer:after, p:after {content:"."; display:block; height:0; clear:both; visibility:hidden;}
.clear-contentunit {clear:both; width:640px; height:0.1em; border:none; background:rgb(210,210,210); color:rgb(210,210,210);}

/********************************/
/*  PRINTING and MISCELLANEOUS  */
/********************************/
@media print {.header-top {width:900px; height:80px; background:rgb(240,240,240); overflow:visible !important ; overflow:hidden ;}}
@media print {.header-breadcrumbs {width:900px; background:transparent;}}
@media print {.nav2 {float:left; width:900px; border:none; background:rgb(240,240,240); color:rgb(75,75,75); font-size:1.0em; font-size:130%;}} /*Color navigation bar normal mode*/
@media print {.main {clear:both; width:900px; padding-bottom:30px; background:transparent;}}
@media print {.main-navigation {display:inline /*Fix IE floating margin bug*/; float:left; width:199px; border-right:solid 1px rgb(200,200,200); border-bottom:solid 1px rgb(200,200,200); background-color:rgb(240,240,240); overflow:visible !important ; overflow:hidden /*IE*/;}}
@media print {.footer {clear:both; width:900px; height:3.7em; padding:1.1em 0 0; background:rgb(240,240,240); font-size:1.0em; overflow:visible !important ; overflow:hidden ;}}

/******************/
/*  MAIN SECTION  */
/******************/

/* MAIN NAVIGATION */
.menuul{ margin:15px 0 0 35px;}
.menuul ul{ padding:0px; margin:0px 0px 0 15px; font-size:11px; color:#616d00; font-weight:normal;}
.menuul ul li { margin:0px 0 0px 3px; list-style:none; list-style-type:none; border-bottom:1px dotted #ffb700; } /* remove this list-style-type:decimal */
.menuul ul li a { color:#616d00; font-size:11px;padding:3px 0px 3px 8px; display:block;}
.menuul a:hover { color:#000; text-decoration:none;} /*background:url(../Images/LeftMenuBg.png) no-repeat left 2px; */

.add_banner{margin:3px 0 3px 0; width:174px; height:150px;}

.nav_p_r{background:url(../Images/Learnmore_top.jpg) left top repeat-x; width:174px; height:20px; }
.pagetitle_nav {color:#384a00; font-weight:bold;font-style:italic; font-size:13px; color:#ffffff; padding:0px 0 0 4px; line-height:18px;}

.control_box{border:1px solid #cccccc; background-color:#fafafa; padding:0 0 0 5px; width:167px; margin-bottom:5px;}

.Ctrl_img{ clear:both; padding:7px 0;}
.Ctrl_img img { float:left; width:24px; height:24px; }
.Ctrl_img a{ float:left; padding-left:5px; line-height:24px; font-size:12px; color:#0066CC;}
.Ctrl_img a:hover{color:#003669;}
.main-navigation h1 {clear:both; margin:30px 0 20px 0; padding:4px 20px 3px 20px; background:rgb(190,190,190); color:rgb(255,255,255); font-weight:bold; font-size:150%;}
.main-navigation h2 {clear:both; margin:80px 0px 10px 60px; color:rgb(100,100,100); font-weight:bold; font-size:16px;}
.main-navigation h3 {clear:both; margin:10px 10px 5px 20px; color:rgb(80,80,80); font-weight:bold; font-size:11px;}

.main-navigation h2.block{ background-image: url(../Images/KeyFeature.png); background-repeat: no-repeat; background-position: left top; padding:0 0 0 35px; border-bottom:3px double #ccc;}
/* MAIN CONTENT */
.main-content h1.block{ clear: both; margin: 0px 0 0em 0; border: 0px solid #92a500; padding: 3px 0 0px 10px; font-family: verdana, arial, sans-serif; color: #fff; font-weight: bold; font-size: 14px; background:#fc9c07; height:22px;}
.pagetitle_left{float:left; background:#99cc01 url(../Images/PageImgLeft.gif) left top repeat-x; width:26px; height:30px; margin-bottom:5px;}
.pagetitle_right{float:left; background:#99cc01 url(../Images/PageImgRight.gif) right top repeat-x; width:764px; height:30px; margin-bottom:5px;}
.pagetitle_right1{float:left; background:#99cc01 url(../Images/PageImgRight.gif) right top repeat-x; width: 99%; height:30px; margin-bottom:5px;}
.pageicoimg{border:0px solid #ccc; margin: 0px 0px 0px 0;}
.pagetitle {color:#384a00; font-weight:bold; font-size:16px;}


.pagetitle_banner{float:left; background:#99cc01 url(../Images/PageImgRight.gif) right top repeat-x; width: 574px; height:30px; margin-bottom:5px;}
.pagetitle_banner_t {color:#384a00; font-weight:bold; font-size:13px;}

.main-content h1.blockinner{ clear: both; margin: 3px 0 3px 0; border: 0px solid #92a500; padding: 0px 0 0px 35px; font-family: verdana, arial, sans-serif; color: #fff; font-weight: bold; font-size: 22px; background:#8d4100 url('../Images/ModuleIcon.png') 5px 2px no-repeat;}
.main-content h1 {clear:both; margin:5px 0; font-family: verdana, arial, sans-serif; color:#8d4100; font-weight:bold; font-size:14px;}
.main-content h2 {clear:both; margin:5px 0; font-family: verdana, arial, sans-serif; color:#92200C; font-weight:bold; font-size:13px;}
.main-content h2.m {clear:both; margin:10px 0; font-family: verdana, arial, sans-serif; color:#92200C; font-weight:bold; font-size:13px;}
.main-content h3 {clear:both; margin:1px; color:#0066cc; font-family: verdana, arial, sans-serif; font-weight:bold; font-size:11px;}
.main-content h4 {margin:2px 0 2px 0; color:rgb(80,80,80); font-weight:bold; font-family: verdana, arial, sans-serif; font-size:11px;}
.main-content h5 {margin:2px 0 2px 0; padding:0px; line-height:17px; color:rgb(80,80,80); font-weight:bold; font-family: verdana, arial, sans-serif; font-size:10px;}
.main-content h6 {margin:1.2em 0 0.2em 0; color:rgb(80,80,80); font-weight:normal; font-family: verdana, arial, sans-serif; font-size:10px;}

.main-content a img{border:0px;}
.main-content p.paragraph{ text-indent:0px;}
.main-content p.paragraph img{ float:left; margin-right:10px; border:1px solid #ccc;}
.main-content p.center {text-align:center;}
.main-content p.right {text-align:justify; }
.main-content p.right img{float:right; padding:5px;}


.main-content p {margin:0 0 0px 0; font-size:11px; text-align:justify; font-family: verdana, arial, sans-serif; padding:5px 0px; line-height:17px;}
.main-content .paraTtl{margin:2px 0 2px 0; color:#000; font-weight:bold; font-size:12px; }

.dash_top{float:left; width:290px; margin-top:0px; margin-left:5px; color:#616d00; font-size:11px; padding:0px 0 5px 0;}
.dash_top1{float:left; width:290px; margin-top:0px; margin-left:5px;  color:#616d00; font-size:11px; padding:0px 0 5px 0;}
.dashmore{ text-align:right; font-weight:bold; text-transform:capitalize; float:right; display:block; margin-top:5px;}
.dashmore a{ text-align:right; font-weight:bold; text-transform:capitalize; color:#616d00;}
.dashmore a:hover{ text-decoration:underline; color:#8d4100;}

.dash_top p{font-size:11px; font-weight:normal; padding-right:5px; padding-left:5px;}
.dash_top1 p{font-size:11px; font-weight:normal; padding-right:5px; padding-left:5px;}
.labeldash{display:block; padding-left:0px; font-size:11px; color:#8d4100; font-weight:bold; text-transform:capitalize; }
.labeldash1{display:block; color:#8d4100; font-weight:bold; text-transform:capitalize; font-size:10px;}

.d_leftimg{float:left; width:40px; height:40px;}
.d_rightcont{float:right; width:240px; padding-left:3px; padding-right:3px; line-height:17px; text-align:justify;}

a.mangtaa{color: #1b60a2; font-weight: bold;}
a.SchoolMangtaa{color: #1b60a2; font-weight: bold;}
.SchoolMangtaa{color: #1b60a2; font-weight: bold;}
/*.dashImg{float:left;}*/
.dashImg a img{ border:0px;margin: 0 5px 0 0;}
.dash_top .d_img{float:left; border:0px solid #ccc; margin: 0 0px 0 0;}
.dash_top1 .d_img{float:left; border:0px solid #ccc; margin: 0 0px 0 0;}

.btmpencil{clear: both; background: url(../Images/Img_Pencils_bottom.jpg) left top  repeat-x; height: 17px; display: block;}

/* Banner Settings Start */
.sliderwrapper{position: relative; /*leave as is*/overflow: hidden; /*leave as is*/width: 1000px; /*width of featured content slider*/height: 181px;background: #2c7097;}
.contentdiv{visibility: hidden;position: absolute; left: 0; top: 0; background: #2c7097; width: 1000px; height: 100%; filter: alpha(opacity=100); filter: progid:DXImageTransform.Microsoft.alpha(opacity=100); -moz-opacity: 1.0; opacity: 1.0;}
.contentdiv img{margin: 0px;padding: 0px;}
.pagination{width: 990px; height: 20px; text-align: right; background: #180d1e; padding-top: 3px; padding-right: 10px;}
.pagination a{display: inline-block; width: 15px; padding: 0px; margin-left: 5px; text-align: center; text-decoration: none;  background: #4e305f; color: #ffffff; font-weight:bold;border:1px solid #fff; background-color:#92a500; font-size:11px;}
.pagination a:hover, .pagination a.selected{background: #8d4100;}
/* Banner Settings Complete */


/*--------------------------------------------Table 1 Start  ------------------------------------------------------*/
.sttable table{border: 1px solid #ddd9ca;border-collapse: collapse; color: #555; font-size:11px;text-transform:capitalize;}
.sttable caption {font-size: 150%;font-weight: bold;margin: 5px; color:#2D549E;}

.sttable thead th {text-align: center;font-size: 12px;background:#92a500;  color:#fff;}
.sttable thead th a{color:#fff;}
.sttable thead th a:hover{color:#515151; text-decoration:none;}
.sttable tfoot th, .sttable tfoot td {text-align: center;font-size: 12px;background:#b9cb30;  color:#515151; padding:2px 2px;}

.sttable th {padding: 4px; border: 1px solid #ddd9ca;}
.sttable td{padding: 4px 0 4px 4px;border: 1px solid #ddd9ca;}

.sttable tbody th {font-weight: bold; text-align:right;}
.sttable tbody tr { background: #ffffff; }

.sttable tbody tr.odd { background: #f9f9f9;}

.sttable tbody tr:hover{background-color:#ddd7d7;}
.sttable tbody td:hover{background-color:#ebe9e9;}
/*.sttable tr:hover th{background-color:#e0dcd0;}*/

.sttable td.tdbtns{text-align: right; padding-right:20px;}

.sttable tr.gtrhover, .sttable tr.odd.gtrhover {background-color:#efefef; color:Black;}
.sttable .gtdhover {background-color:#f9f9f9; color:Black;}
/*--------------------------------------------Table 1 Complete ------------------------------------------------------*/

/*-------------------------------------------- Application Controls Start ------------------------------------------------------*/
.formhint{ font-style:italic; font-size:10px; color:#666666; padding:5px 0px;}
.ltextsim{ font-size:11px; font-weight:normal; text-transform:capitalize;}
.ltext{ font-size:11px; font-weight:bold; text-transform:capitalize; letter-spacing:1px;}
.lhtexthead{ font-size:14px; font-weight:bold; text-transform:capitalize; color:#95a800; text-align:center;}
.ltexterr{color:Red;}
.chktxt{font-size:11px; text-transform:capitalize; font-weight:normal;}
.chktxt label{margin:0 0px 0 3px;}
.chktxt1{ font-size:11px; font-weight:normal; text-transform:capitalize;}
.chktxt1 label{margin:-1px 0px 0 3px;}

.lhtext{ font-size:13px; font-weight:bold; text-transform:capitalize;}
.vtext{ font-size:11px; font-weight:normal; text-transform:capitalize; }

.ttext{ font-size:11px; border:1px solid #bbb5a1; width:120px; padding:1px 0; text-transform:capitalize; }
.ttextHover{border:1px solid #777262; background-color:#f6f4ef;}
.ttextFocus{border:1px solid #000000;}

.trtext{font-size:11px; border:1px solid #bbb5a1; text-transform:capitalize;}
.trtextHover{border:1px solid #777262; background-color:#f6f4ef;}
.trtextFocus{border:1px solid #000;}

.dtext{font-size:11px; border:1px solid #bbb5a1; width:123px; text-transform:capitalize; }
.dtextHover{border:1px solid #777262; background-color:#f6f4ef;}
.dtextFocus{border:1px solid #000;}

.btext{font-size:11px; color:#515151; font-weight:bold; letter-spacing:1px; background:#ffbb02; padding:2px 5px; border:1px solid #ff7300; }
.btextHover{color:#fff; background:#ff7300; border:1px solid #ffbb02; }
.btextFocus{color:#515151; background:#ffbb02; border:1px solid #95a800; }

.blogin{background-position: left top; width: 79px; height: 20px; background-image: url(../images/btnlogin.png); background-repeat: no-repeat; border: none; background-color:transparent;}

.errtext{ font-size:11px; color:Red; padding:0 5px;}
.hint{ font-size:9px; font-weight:normal; text-transform:capitalize;}

.err{ font-size:11px; color:Red; padding:0 0px; text-align:left;}
.err ul{text-align:left; margin-left:20px; }
.err ul li{text-align: left;color: #FF0000;line-height: 20px;text-transform:capitalize; list-style-position:inside;}

.errtext{ font-size:11px; color:Red; padding:0 5px; text-align:left;}
.errtext ul{text-align:left; margin-left:20px;}
.errtext ul li{text-align: left;color: #FF0000;line-height: 20px;text-transform:capitalize; list-style-position:inside;}
/*-------------------------------------------- Application Controls Complete ------------------------------------------------------*/

.conte_ul{ padding:0px; margin:0px; }
.conte_ul ul{ margin-left:20px; list-style-type:decimal;}
.sharepoint{ width: 576px; margin: 0 auto; background: #e9e9e9 url('../Images/SharePointBg.png') no-repeat left top; height:22px; padding-top:2px; padding-right:10px;}
.sharepoint_L{float:left; padding-left:10px;}
.sharepoint_R{float:right; padding-right:10px;}
.sharepoint_R ul{ list-style:none;}
.sharepoint_R ul li{ float:left; padding:0 5px; line-height:20px;}
.sharepoint_R ul li .shlabel{font-weight:bold; color:Black;}
.sharepoint_R ul li a{font-weight:normal; color:Black;}
.sharepoint_R ul li a img{ border:0px; padding-top:2px; float:left; padding-right:3px;}
/*******************************/
/*   Accordion (FAQ) Start    */
/*****************************/
#accordion {width:100%; margin:05px 0 5px 5px;}
.accordion {width:inherit; color:#033; }
.accordion dt {width:inherit; line-height:18px; padding:0px; font-weight:bold; margin:5px 0; cursor:pointer;  font-size:11px; }
.accordion dd {overflow:hidden; background:#fff; width:99%; font-size:11px; border-bottom:1px solid #cccccc;}
#cont_1 {display:block; width:97%; border-top:none; padding:10px 0 10px 10px; text-align:justify; line-height:20px;} 
.cont_1 {display:block; width:97%; border-top:none; padding:10px 0 10px 10px; text-align:justify; line-height:20px;} 
.accno{ color:#8d4100; font-weight:bold;}
/********************************/
/*   Accordion (FAQ) Complete  */
/******************************/
.contalnkbx{ margin:5px 0px; float:left; width:310px;} /**/
.contalnkbx .con_bxbg{width:310px; font-size:11px;  margin:0 auto; background:#ffffff; line-height:17px; font-weight:normal; color:#666666;}
.contalnkbx .con_bxbg-in{padding:8px 10px; font-weight:normal;}
.con_bxbg a{color:#1b60a2; font-weight:bold !important;}
.con_bxbg a:hover{color:#69a500;}
.contalnkbx .conlinkttl{font-size:12px; margin-bottom:5px; padding-bottom:1px; border-bottom:1px dotted #cccccc; font-weight:bold; color:#ff7300; padding-left:0px;}
.contalnkbx .cont_lbl{text-transform:capitalize; display:inline-block; padding-right:3px; line-height:20px; font-weight:normal;}

.contalnkbxR{ margin:5px 0px; float:left;}/*width:290px;*/
.contalnkbxR .con_bxbgR{width:280px; font-size:11px; margin:0 auto; background:#ffffff; line-height:17px; color:#666666;}
.con_bxbgR a{color:#1b60a2; font-weight:bold;}
.con_bxbgR a:hover{color:#69a500;}
.contalnkbxR .con_bxbg-inR{padding:8px 10px;}
.contalnkbxR .conlinkttlR{font-size:12px; margin-bottom:5px; padding-bottom:1px; border-bottom:1px dotted #cccccc; font-weight:bold; color:#ff7300; padding-left:0px;}
.contalnkbxR .cont_lblR{text-transform:capitalize; display:inline-block; padding-right:3px; line-height:20px;}

.cont_ul{ margin:5px 0 0 0; padding:0px; }
.cont_ul ul{ padding:0px; margin:0px 0 0 10px; font-size:11px;  font-weight:normal;}
.cont_ul ul li {margin: 0px 0 0px 0px;list-style: none;list-style-type: none;line-height: 20px; background:url('../Images/ul_Icon.jpg') left 5px no-repeat;padding-left:20px;}
.cont_ul ul li a { color:#616d00; font-size:11px;padding:3px 0px 3px 8px; display:block;}
.cont_ul a:hover { color:#000; text-decoration:none;}

.cont_ul ul li ul{margin:3px 0 3px 0px; font-size:11px;  font-weight:normal;}
.cont_ul ul li ul li{list-style: none;list-style-type: none;line-height: 20px; background:url('../Images/bg_bullet_arrow.gif') left 5px no-repeat; padding-left:15px;}
 
.cont_ul1{ margin:5px 0 0 0; padding:0px; }
.cont_ul1 ul{ padding:0px; margin:0px 0 0 30px; font-size:11px;  font-weight:normal;}
.cont_ul1 ul li{margin: 0px 0 0px 0px; line-height: 20px; list-style:url('../Images/bg_bullet_full_2.gif');}

#otherlinks .cont_ul ul li{margin: 0px 0 0px 0px;list-style: none;list-style-type: none;line-height: 20px;background: url('../Images/Yes.jpg') left 5px no-repeat;padding-left: 20px;}
#otherlinks .cont_ul ul li h3 a{color: #0066CC;}
#otherlinks .cont_ul ul li h3 a:hover{color: #000000;}

.hmeGirl{height: 280px; background: #fff url(../Images/ThumbImg1.jpg) center right no-repeat;}
.hmeGirl_in{width: 395px; padding-left: 0px;}
.w_100{width:100%;}
.w_98{width:98%; margin:0 auto;}
.f_left{ float:left;}
.f_right{ float:right;}

.frm_c_title{padding-left:50px; color:#666666;}


.timg{float:left; padding:0 2px 0 0; display:inline-block;}
.timg img{width:16px; height:16px; overflow:hidden; display:block;}
.timg .bimage{width:16px; height:16px; display:block;}
.timg .erase { width: 16px; height: 16px; display: block; cursor: pointer; border: 0px solid #f00; background: url(../Images/btn_clear_Data.png) top left no-repeat;}


.quicinq_box{width: 174px;float: right;font-size: 12px;margin-top: 5px; background: url('../Images/QuickInquiry_Top.jpg') repeat-x left top;}
.quicinq_ttl{background:url(../Images/Learnmore_top.jpg) left top repeat-x; font-size: 12px; line-height: 20px; font-weight: bold; padding:0 0 0 4px; color:#ffffff; font-style:italic; font-weight:bold;}
.quicinq_cont{width:172px; background: url('../Images/quickinq_cont.jpg') repeat-x left top;border: 1px solid #4a97df;}
.quicinq_cont .ttext{width:99%; border-top:1px solid #4a97df; border-bottom:1px solid #4a97df; border-left:0px solid #4a97df; border-right:0px solid #4a97df;}
.quicinq_cont tr td{padding:2px 0 2px 0px;}
.quicinq_cont tbody th{ text-align:left; padding:2px 0 2px 5px;}

.readmore{ width:177px; margin:20px auto 0 auto;}





/**/
.d_banner_t{margin: 0px 0; color:#616D00;}
.d_banner_t p{ text-align:justify; line-height:20px; padding:0 8px 0 3px; text-transform:capitalize;}
.d_banner_t p img{float:left; padding:5px; margin-right:5px;}
/**/














/**/

.cont_ul_1{ margin:5px 0 0 0; padding:0px; }
.cont_ul_1 ul{ padding:0px; margin:0px 0 0 10px; font-size:11px;  font-weight:normal;}
.cont_ul_1 ul li {margin: 0px 0 0px 0px;list-style: none;list-style-type: none;line-height: 20px; background:url('../Images/NewBullate.jpg') left 5px no-repeat;padding-left:20px;}
.cont_ul_1 ul li a { color:#616d00; font-size:11px;padding:3px 0px 3px 8px; display:block;}
.cont_ul_1 a:hover { color:#000; text-decoration:none;}

.cont_ul_1 ul li ul{margin:3px 0 3px 0px; font-size:11px;  font-weight:normal;}
.cont_ul_1 ul li ul li{list-style: none;list-style-type: none;line-height: 20px; background:url('../Images/bg_bullet_arrow.gif') left 5px no-repeat; padding-left:15px;}


/**/



.setbtns{text-align:right; padding-right:10px;}




